certifi==2018.4.16
chardet==3.0.4
httplib2==0.11.3
idna==2.6
Logbook==1.4.0
lxml==4.2.1
oauth2==1.9.0.post1
oauthlib==2.1.0
py==1.5.3
pyshark==0.3.7.11
requests==2.18.4
requests_oauthlib==1.0.0
trollius==1.0.4
urllib3==1.22
